.BackEllipse {
    position: absolute;
    left: -200px;
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
    animation-duration: 1s;
}

.FrontEllipse {
    position: absolute;
    top: 0px;
    left: -200px;
    width: 100%;
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
    animation-duration: 3s;
}


.EllipsesContainer {
    position: relative;
    height: 862px;
}

@-webkit-keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes rollIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.rollIn {
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
}


@media screen and (max-width: 1300px) {
    .EllipsesContainer {
        height: 785px;
    }
}

@media screen and (max-width: 1200px) {
    .EllipsesContainer {
        height: 685px;
    }
}
@media screen and (max-width: 1100px) {
    .EllipsesContainer {
        height: 600px;
    }
}
@media screen and (max-width: 1050px) {
    .EllipsesContainer {
        height: 530px;
    }
}
@media screen and (max-width: 1000px) {
    .EllipsesContainer {
        height: 500px;
    }
}
@media screen and (max-width: 900px) {
    .EllipsesContainer {
        height: 450px;
    }
}
@media screen and (max-width: 800px) {
    .EllipsesContainer {
        height: 400px;
    }
}


@media screen and (max-width: 700px) {
    .EllipsesContainer {
        position: relative;
        height: 380px;
    }
    .FrontEllipse, .BackEllipse {
        left: -10%;
        top: -0%;
    }
}
@media screen and (max-width: 655px) {
    .EllipsesContainer {
        height: 320px;
    }
}
@media screen and (max-width: 555px) {
    .FrontEllipse, .BackEllipse {
    }
    .EllipsesContainer {
        position: relative;
        height: 280px;
    }
}
@media screen and (max-width: 455px) {
    .EllipsesContainer {
        height: 230px;
    }
}
@media screen and (max-width: 385px) {
    .EllipsesContainer {
        height: 200px;
    }
}