.BigGreyCircle {
    /*height: 1000px;*/
    width: 100%;
    background: #f7f8f8;
    border-radius: 100% 100% 100% 100% / 28% 28% 28% 28%;
    padding-bottom: 131px;
    margin-bottom: 0px;
}

.BigGreyCircleContainer {
    /*width: 300%;*/
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

@media screen and (max-width: 1200px) {
    #educationSteps {
	    padding-bottom: 50px;
	}
}

@media screen and (max-width: 550px) {
    #educationSteps {
	    padding-bottom: 10px;
	}
}

.yesButton {
    color: white;
    background: rgb(50, 180, 130);
    font-size: 23px;
    font-weight: 700;
    padding: 5px 68px;
    border-radius: 4px;
}