a {
  display: flex;
  margin: 0 25px;
  color: #32b482;
  text-decoration: none;
  font-weight: 600;
  font-size: 42px;
  justify-content: center;
  align-items: center;
}
.graduates {
  width: 800px;
}
.sc-htpNat {
}
.cuCxnf {
}
.sc-bwzfXH {
}
.sc-bdVaJa {
  width: 1000px;
  margin: 0 auto;
  
}

.box {
  margin: 0 8px;
  width: 250px;
  height: 270px;
  text-align: center;
}
.text-box {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3.5px 1.062px 16px 0px rgb(89, 100, 110);
}

.box-img {
  position: relative;
  bottom: -45px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(1, 1, 1);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.name {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  padding-top: 40px;
}

.prof {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-align: center;
  margin: 10px 0;
}

.subtitle {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin: 10px 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.divider {
  margin: 0 auto;
  width: 30px;
  border-bottom: 1px solid #32b482;
}
.graduates {
  width: 100%;
  animation-name: widthCarousel;
  animation-duration: 1s;
}



@keyframes widthCarousel {
    from {width: 1000px;}
    to {width: 500px;}
}