.TechnologyIcons {
    margin: 50px 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Icon {
    width: 77px;
}

@media screen and (max-width: 960px) {
    .Icon {
	    width: 60px;
	}
}

@media screen and (max-width: 555px) {
    .Icon {
	    width: 50px;
	}
}

@media screen and (max-width: 555px) {
    .Icon {
	    width: 40px;
	}
}

@media screen and (max-width: 300px) {
    .Icon {
	    width: 35px;
	}
}