.SectionText {
    font-size: 15px;
    font-family: "OpenSans Regular", sans-serif;
    color: rgb(1, 1, 1);
    line-height: 1.394;
    text-align: center;
    z-index: 398;
    /*margin-left: 23px;*/
    /*margin-right: 50px;*/
}

.SectionTextContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}