.SectionTitle h3 {
    font-size: 30px;
    font-family: "Raleway SemiBold", sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.933;
    text-align: center;
    z-index: 400;
    font-weight: 500;
    margin-top: 148px;
}

.SectionUnderline {
    border-bottom: 2px solid rgb(50, 180, 130);
    width: 54px;
    height: 1px;
    margin-top: -25px;
}

.SectionTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}