.numbersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.two-col {
	display: flex;
}

@media screen and (max-width: 800px) {
	.numbersContainer {
		flex-direction: column;
	}
}
