.IconImage {
    border-radius: 50%;
    background-image: -moz-linear-gradient(-90deg, rgb(50, 180, 130) 0%, rgb(27, 222, 146) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(50, 180, 130) 0%, rgb(27, 222, 146) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(50, 180, 130) 0%, rgb(27, 222, 146) 100%);
    width: 100px;
    height: 100px;
    padding: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconImage img {
    height: 75%;
}

/*.PlatformIcon {*/
    /*!*width: 7%;*!*/
    /*flex-basis: 29%;*/
/*}*/

.PlatformIcon p {
    width: 76%;
    text-align: center;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.412;
}

