.descriptionWrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.images img{
    padding: 7px;
    width: 32%;
}

.downloadApp{
    display: block;
    width: 250px;
    margin: 0;
    padding: 0;
    margin-left: -16px;
    /*display: inline;*/
}

.downloadAppText{
    border: 2px solid black;
    padding: 9px 16px;
    border-radius: 10px;
    color: white;
    background: black;
    width: 250px;
}

.additionalInfo{
    font-size: 15px;
}

.orderer{
    color: #8e9498;
    padding: 0 0 0 16px;
}

.descriptionWrapper p, .descriptionWrapper ul li {
    color: #8c9398;
}

