.NeobisBigLogo {
    width: 28%;
}

.NeobisBigLogoContainer {
	top: 35vh;
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .NeobisBigLogoContainer {
        top: 10vh;
    }
}

@media screen and (max-width: 555px) {
	.NeobisBigLogoContainer {
        top: 5vh;
    }
}