.SocialFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SocialButtons {
    display: flex;
    justify-content: space-around;
    width: 11%;
}

.SocialButtons img {
    height: 36px;
}

.FooterDesc {
    font-size: 14px;
    font-family: "OpenSans Regular", sans-serif;
    color: rgb(155, 155, 155);
    line-height: 1.286;
    text-align: center;
}