.registrationImage {
    display: flex;
    justify-content: center;
}

.registrationImage img {
    width: 86%;
    height: 80%;
}

.List {
    list-style: none;
    padding: 0;
}

.Comment {
    font-size: 13px;
    display: flex;
    justify-content: center;
    color: lightslategrey;
}