.WeTextContainerTitle {
    font-size: 24px;
    font-family: "Raleway SemiBold", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.417;
    margin-bottom: -10px;
}

.WeTextContainerBody {
    font-size: 17px;
    font-family: "OpenSans Regular", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.294;
    width: 307px;
    height: 83px;
}