.Platforms {
	width: 715px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 15px;
}

.PlatformIcon {
    /*width: 7%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 29%;
    margin: 5px 5px;
}

.PlatformIcon p{
    /*width: 7%;*/
    margin: 0 auto;
    text-align: center;
}


.WeTeachSection {
	text-align: center;
}

.IconImage {
	margin: 0 auto;
}

#weSection {
    margin: 0 auto;
    width: 80%;
}
.WeSectionBooks, .WeSectionTree, .WeSectionPhone {
}

.WeSectionTreeText {
    float: left;
}
.WeSectionTree img{
    float: right;

}
.WeSectionPhoneText {
    float: right;
}
.WeSectionPhone img{
        height: 0px;
    right: 0px;
    top: 0px;
}

@media screen and (max-width: 740px) {
    .Platforms {
		width: 415px;
	}
}
@media screen and (max-width: 450px) {
    .Platforms {
		width: 300px;
		justify-content: center;
		
	}
}