.OurSection {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin:110px auto 0 auto;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.OurSectionItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 90%;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .OurSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .OurSectionItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 310px;
        text-align: center;
    }
}