.NavBar {
    position: fixed;
    right: 16px;
    top: 42%;
    height: 127px;
    /* border: solid; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
